* {
  margin: 0;
  padding: 0;

  .dashboard {
    max-width: 100vw;
    min-height: 100vh;
    padding: 1.5rem;
    background: #f0f4f8;
    font-family: 'Helvetica';

    h1 {
      font-size: 2.5rem;
      margin-bottom: 1rem;
      text-align: center;
    }

    h2 {
      font-size: 1.75rem;
      margin-top: 2rem;
    }

    .top-deal {
      padding: 1rem;

      p {
        margin: 0;
        font-weight: 600;
        color: #111827;
      }
    }
  }
}